<div id="full">
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-lg-12 text-center py-3">
        <label>
          <h3>Oscore</h3>
        </label>
      </div>

      <div class="col-lg-5 col-md-8 col-10 py-3 mb-3" id="features">
        <div class="row justify-content-center">
          <div class="col-lg-10 col-11 mt-2 mb-2 border-bottom border-primary border-1 text-center">
            <h5><b>This is users in your group !!!</b></h5>
          </div><br>
          <!-- <div *ngFor=" let user of users"> -->
          <div class="col-12 mt-2 mb-4 ml-5" id="infor" *ngFor=" let user of users">
            <b>Friends Id : {{user.userId}} <br>
              Friends Email : {{user.email}}<br>
              Friends Name : {{user.firstName}} {{user.lastName}}</b>
          </div>
          <div class="col-lg-10 col-11 mb-4 text-center border-top border-primary border-1">
            <br>
            &nbsp;&nbsp;<b> Make sure that you stay in correct group !! </b>
          </div>
          <div class="col-6 text-center">
            <button id="leave" (click)="leaveGroup()" class="btn btn-primary">
              <small>Leave group</small>
            </button>
          </div>
          <div class="col-6 pt text-center">
            <button [routerLink]="['/showstudentinsamegroup']" type="submit" id="submit" class="btn btn-primary">
              <small>Confirm</small>
            </button>
          </div>


        </div>
      </div>


    </div>
  </div>
</div>