<div id="full">
  <div class="container">
    <div class="row justify-content-center">
      <!--  -->
      <!--  -->
      <div class="col-12 text-center py-3">
        <h3 style="color: white">Oscore</h3>
      </div>
      <div class="col-lg-8 col" id="features">
        <div class="row">
          <div class="col-lg mx-4 my-3">
            <h4><b>Add Metric</b></h4>
            <br />
            <!--  -->
            <!--  -->

            <div class="col"><label>Mentor Matric</label><br /></div>

            <div class="col-lg-12">

              <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [(value)]="selectedValue"
                #group="matButtonToggleGroup" multiple=true>

                <div class="row justify-content-center">

                  <mat-button-toggle class="col-3 mt-2 mb-4 ml-3 mr-4 text-center" [value]="item"
                    *ngFor="let item of toggleOptions;" (change)="selectionSkill($event)">
                    Skill {{item}}</mat-button-toggle>

                </div>

              </mat-button-toggle-group>

            </div>


            <!-- <div class="example-selected-value" style="padding: 20px"><label>Selected Skill:
                <b>{{group.value}}</b></label>
            </div> -->

            <br /><br />
            <div class="col-lg-12 text-right">
              <button (click)="postSkill()" [routerLink]="['/manage']" type="submit" id="submit"
                class="btn btn-primary">
                Submit
              </button>
            </div>

            <!--  -->
          </div>
        </div>
      </div>
      <!--  -->
      <!--  -->
    </div>
  </div>
</div>