#full{
    background: linear-gradient(#3B5A96, #8FB1F2);
    height: auto;
    max-height: auto;
    min-height: 100vh;}

#features{
    
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 25px;
    background-color: white;
    /* height: 100px;  */
    /* text-align: center; */

  }
  label{
      color: #4B7AD1
  }

  input#groupNumber{
    /* width: 260px; */
    height: 70px;
    border-radius: 6px;
    background:#fff;
    border:2px solid #97b9f8;

}

input{
    /* width: 260px; */
    height: 50px;
    border-radius: 6px;
    background:#fff;
    border:2px solid #97b9f8;
}
