<div id="full">
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-lg-12 text-center py-3">
        <h3 style="color: white">Oscore</h3>
      </div>
      <div class="col-lg-5 col-11" id="features">
        <div class="row justify-content-center">
          <div class="col mx-4 my-3">
            <label><b>Manage Group</b></label><br><br>
            <form [formGroup]="form">

              <div class="row">
                <div class="col-4 text-right my-3"><b>Group number</b></div>
                <div class="col-5 text-right">
                  <input type="text" formControlName="groupNumber" class="form-control" placeholder=""><br>
                </div>
                <div class="col-1 text-right py-2">
                  <button (click)="loopTextbox()" type="submit" class="btn btn-primary">Confirm</button><br><br>
                </div>
                <div class="col-lg-12 py-2" *ngFor="let num of groups">
                  <input type="number" id="group" class="form-control" style="text-align: center" value="{{num}}"
                    disabled><br>
                </div>
                <div class="col-12 col-lg-12 text-right">
                  <button (click)="submitForm()" [routerLink]="['/addmetric']" type="button"
                    class="btn btn-primary">Next</button></div>
              </div>


            </form>
            <!-- 
              <div class="row">

                <div class="col-lg-12">
                  <input type="number" class="form-control" formControlName="group1" id="group1"
                    placeholder="1. Group 1"><br>
                  <input type="number" class="form-control" formControlName="group2" id="group2"
                    placeholder="2. Group 2"><br>
                  <input type="number" class="form-control" formControlName="group3" id="group3"
                    placeholder="3. Group 3"><br>
                </div>
              </div> -->


          </div>
        </div>
      </div>

    </div>
  </div>
</div>