<div id="full">
  <div class="container">
    <div class="row">


      <div class="col-lg-12 text-center py-3">
        <h3 style="color: white">Oscore</h3>
      </div>
      <div class="col-lg mx-3 py-3" id="features">
        <div class="col-12 pb-4">
          <h5><b>Student Register</b></h5>
        </div>
        <form [formGroup]="formRegister" (ngSubmit)="formRegister.valid" method='POST'>
          <div class="row">

            <div class="col form-group">
              <label>Email</label>
              <input type="email" class="form-control" formControlName="email"
                [ngClass]="{'is-invalid': formRegister.get('email').touched && formRegister.get('email').invalid}"
                placeholder="Your Email">
              <div *ngIf="formRegister.get('email').touched && formRegister.get('email').invalid"
                class="invalid-feedback">
                <div *ngIf="formRegister.get('email').errors.required">email is required!</div>
                <div *ngIf="formRegister.get('email').errors.email">email is invalid!</div>
              </div>
            </div>

          </div><br>
          <div class="row">

            <div class="col form-group">
              <label>Password</label>
              <input type="password" class="form-control" formControlName="password"
                [ngClass]="{'is-invalid': formRegister.get('password').touched && formRegister.get('password').invalid}"
                placeholder="Password">
              <div *ngIf="formRegister.get('password').touched && formRegister.get('password').invalid"
                class="invalid-feedback">
                <div *ngIf="formRegister.get('password').errors.required">password is required!</div>
                <div *ngIf="formRegister.get('password').errors">password is invalid!</div>
              </div>
            </div>
            <div class="col form-group">
              <label>Confirm Password</label>
              <input type="password" class="form-control" formControlName="cfpassword"
                [ngClass]="{'is-invalid': formRegister.get('cfpassword').touched && formRegister.get('cfpassword').invalid}"
                placeholder="Confirm Password">
              <div *ngIf="formRegister.get('cfpassword').touched && formRegister.get('cfpassword').invalid"
                class="invalid-feedback">
                <div *ngIf="formRegister.get('cfpassword').errors.required">comfirmpassword is required!</div>
                <div *ngIf="formRegister.get('cfpassword').errors">comfirmpassword is invalid!</div>
              </div>
            </div>
          </div>
          <div class="col-12 text-right">
            <button type="submit" class="btn btn-primary" [disabled]="!formRegister.valid"
              (click)="submitForm()"><b>Submit</b></button>
          </div>
          <!-- <code>
      {{formRegister.value | json}}
     </code> -->
        </form>

      </div>
    </div>
  </div>
</div>