<div id="full">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center py-2">
                <h3 style="color: white">Oscore</h3>
            </div>

            <div class="col-lg-6 mx-3 my-3 py-3" id="features">
                <div class="row">

                    <div class="col-lg-12" style="margin: 0 0 30px 0">
                        <div class="row">
                            <div class="col-lg-12 mx-3">
                                <h5><b>Your Workshop</b></h5>
                            </div>
                            <br>
                            <div *ngFor="let workshop of workshops"
                                class="col-lg-10 border-bottom border-primary border-1 mx-5" style="color:grey;">
                                <div class="row">
                                    <div class="col-lg-6 col-7"><br><label><b>Workshop Name:</b>
                                            {{workshop.title}}</label><br><br>
                                        <b>Description: </b>{{workshop.description}}<br>
                                        <b>Date Start: </b>{{workshop.start}}<br>
                                        <b>Date End: </b>{{workshop.end}}<br><br></div>
                                    <div class="col-lg-6 col-5 mt-4 text-left">
                                        <img src="assets/edit.svg" style="height: 33px" [routerLink]="['/editworkshop']"
                                            (click)="editAsWorkshop(workshop)">&nbsp;
                                        <app-qrcode-goqr [workshop]="workshop"></app-qrcode-goqr>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12 col-12 pt-5 text-center">
                                <button [routerLink]="['/addworkshop']" type="submit" id="submit"
                                    class="btn btn-primary">
                                    <small>Create new workshop</small>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>