<div class="container">
  <div class="row justify-content-center">


    <div class="col-lg-4 col-10 text-center" id="friendInfos">
      <label>
        <b>{{user.userId}} {{user.firstName}} {{user.lastName}}</b>
      </label>
    </div>

    <div class="col-lg-10 text-center">
      <!-- <button (click)="toggle()" id="bt" class="btn btn-primary">
        {{buttonName}}
      </button>
      <ng-container *ngIf="show"> -->
      <app-review-form [inputSkills]="skills" [inputUser]="user"></app-review-form>
      <!-- </ng-container> -->
    </div>

  </div>
</div>
<!-- <div id="user-skills" *ngFor="let skill of skills"></div> -->