<div id="full">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-lg-12 text-center py-2">
        <h3 style="color: white">Oscore</h3>
      </div>

      <div class="col-lg-5 col-md-7 col-sm-10 col-10 mx-3 my-3 py-3" id="features">
        <div class="row">

          <div class="col-lg-12" style="margin: 0 0 30px 0">
            <div class="row">
              <div class="col-lg-12 text-center">
                <h5><b>O-Review result</b></h5>
              </div>
              <div class="col-lg-4 col-md-3 col-5 mt-3 mb-3 ml-4" style="max-height:40%; max-width: 40%; border: 1px ">
                <img src="assets/girl.svg">
              </div>
              <div class="col-lg-6 col-5 mt-4 ml-4" style="border: 1px ">
                <label>
                  <h5><b>{{studentProfile.firstName}}
                      {{studentProfile.lastName}}</b></h5>
                  <b>{{workshop.title}}</b>
                </label><br>
                <p>{{workshop.start}} - {{workshop.end}}
                  Place: KK Building
                  Instructor: Oscore Team</p>
              </div>
              <div *ngFor="let studentScore of studentScores" class="col-12 ml-5 mt-2">
                <label><b> Skill name : </b></label>&nbsp;
                <b>{{studentScore.skillName}}</b>
                <br>

                <label><b>Score : </b></label>&nbsp;
                <b>{{studentScore.avgScore}}</b>
                <br>
              </div>
              <div class="col-12 ml-5 pt-4">
                <label>
                  <b>Feedback</b>
                </label></div>
              <div *ngFor="let studentFeedback of studentFeedbacks" class="col-12 ml-5 mt-2" style="max-width: 80%">
                <ul>
                  <li>{{studentFeedback.feedback}}</li>
                </ul><br>
              </div>
              <div class=" col-12 ml-5 pt-4">
                <label>
                  <b>Suggestion</b>
                </label></div>
              <div *ngFor="let studentFeedback of studentFeedbacks" class="col-12 ml-5 mt-4" style="max-width: 80%">
                <ul>
                  <li>{{studentFeedback.suggestion}}</li>
                </ul><br>
              </div>


              <div class=" col-lg-12 col-12 pt-5 text-center">
                <button [routerLink]="['/profile']" type="submit" id="submit" class="btn btn-primary">
                  <small>Submit</small>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>