<div id="full">
  <!-- -------------------------------------------------------------------------------- -->
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 text-center py-3">
        <h3 style="color: white">Oscore</h3>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-8 col-10 mx-3 my-3 py-3" id="features">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h5><b>Profile</b></h5>
          </div>

          <!-- <div> -->
          <nav class="col-lg-12 pt-3">
            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active " id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                aria-controls="nav-home" aria-selected="true">ผู้เรียน</a>
              <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                aria-controls="nav-profile" aria-selected="false">ผู้สอน</a>
            </div>
          </nav>
          <!-- </div> -->
          <div class="col-12 tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
              <div class="col-lg-12 text-center" style="padding: 30px 0 8px 0;">
                <img src="assets/man.svg" class="img-responsive" style="height: 150px;" /><br /><br />
                <label><b>{{this.backendService.getUser().firstname}}
                    {{this.backendService.getUser().lastname}}</b><br />
                  (<b> {{this.backendService.getUser().nickname}} </b>)</label>
              </div>
              <div id="login" class="col-lg-12 text-center">
                <button class="btn btn-primary" id="edit" data-toggle="modal"
                  data-target="#editprofile"><small>Edit</small></button>
              </div>
              <div class="col-lg-12 mt-3 text-center">
                <label>
                  <h5>
                    <b>
                      Summary
                    </b>
                  </h5>
                </label>
              </div>
              <div class="col-lg-12 ml-3">
                <label>
                  <b>
                    Top Skill
                  </b>
                </label>
              </div>

              <div class="col-lg-11 my-2">

                <table *ngFor="let score of workshop" class="table table-striped">
                  <thead>
                    <tr>
                      <th>Skill</th>
                      <th>Rating</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="sony">
                      <td>{{ score.skillName }}</td>
                      <td>
                        <div class="stars-outer">
                          <div class="stars-inner"></div>
                          &nbsp; (score : {{ score.avgScore }})
                        </div>
                        &nbsp;<span class="number-rating"></span>
                      </td>
                    </tr>

                  </tbody>
                </table>
              </div>

              <div class="col-11 border-bottom border-top border-primary border-1 mx-3" style="margin: 0 0 30px 0">
                <div class="row">
                  <div class="col-lg-12 ">
                    <label>
                      <b>Workshop Attend</b>
                    </label>
                  </div>
                  <br>
                  <div *ngFor="let workshopAtt of workshopAtts" class="col-lg-12 primary mx-3 py-2" style="color:grey;">
                    <b>{{workshopAtt.title}}</b>
                  </div>
                </div>
              </div>
            </div>


            <!-- ------------------------------------------------------------------------------------------- -->


            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

              <div class="col-lg-12 text-center" style="padding: 30px 0 8px 0;">
                <img src="assets/man1.svg" class="img-responsive" style="height: 150px;" /><br /><br />
                <label><b>{{this.backendService.getUser().firstname}}
                    {{this.backendService.getUser().lastname}}</b><br />
                  (<b> {{this.backendService.getUser().nickname}} </b>)</label>
              </div>
              <div id="login" class="col-lg-12 text-center">
                <button class="btn btn-primary" id="edit" data-toggle="modal"
                  data-target="#editprofile"><small>Edit</small></button>
              </div>
              <div class="col-lg-12 mt-3 text-center">
                <label>
                  <h5>
                    <b>
                      Summary
                    </b>
                  </h5>
                </label>
              </div>
              <div class="col-lg-12 ml-3">
                <label>
                  <b>
                    Top Skill
                  </b>
                </label>
              </div>

              <div class="col-lg-11 my-2">


                <table *ngFor="let score of workshop" class="table table-striped">
                  <thead>
                    <tr>
                      <th>Skill</th>
                      <th>Rating</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="sony">
                      <td>{{ score.skillName }}</td>
                      <td>
                        <div class="stars-outer">
                          <div class="stars-inner"></div>
                          &nbsp; (score : {{ score.avgScore }})
                        </div>
                        &nbsp;<span class="number-rating"></span>
                      </td>
                    </tr>


                  </tbody>
                </table>
              </div>

              <div class="col-11  border-bottom border-top border-primary border-1 mx-3" style="margin: 0 0 30px 0">
                <div class="row">
                  <div class="col-12">
                    <label>
                      <b>Workshop Instructor</b>
                    </label>
                  </div>

                  <br />
                  <div *ngFor="let user of workshops" class="col-lg-12 primary mx-3 py-2" style="color:grey;">
                    <b>{{ user.title }}</b><br />
                    {{ user.start }} - {{ user.end }}
                  </div>
                  <div class="col-lg-12 col-12 text-center my-2">
                    <button [routerLink]="['/manage']" type="submit" id="submit" class="btn btn-primary">
                      <small>Manage Workshop</small>
                    </button>
                  </div>
                </div>
              </div>

            </div>

            <!-- --------------------------------------------------------------------------------------- -->
          </div>
        </div>
      </div>

      <!-- ----------------------------------------------------------------------------------------- -->
    </div>
  </div>
</div>

<app-edit-profile></app-edit-profile>