<!-- Reference visit : 
http://goqr.me/api/
http://goqr.me/api/doc/create-qr-code/#quickstart
-->
<!-- <div id="qrcode-goqr"> -->
<a href="{{apiUrl}}" (click)="test()" target="_blank"><img src="assets/qr-code.svg" style="height: 33px"></a>
<!-- </div> -->