<div class="modal fade" tabindex="-1" role="dialog" id="regisModal" aria-hidden="true">

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="color: #4B7AD1"><b>Become Oscore Member !!</b></h5>
      </div>
      <div class="modal-body">
        <form [formGroup]="formRegister" (ngSubmit)="formRegister.valid && onSubmit()" method='POST'>
          <label for="regisName">Name</label>
          <div class="row">
            <div class="col form-group">
              <input type="text" class="form-control" formControlName="firstname"
                [ngClass]="{'is-invalid': formRegister.get('firstname').touched && formRegister.get('firstname').invalid}"
                placeholder="Firstname">
              <div *ngIf="formRegister.get('firstname').touched && formRegister.get('firstname').invalid"
                class="invalid-feedback">
                <div *ngIf="formRegister.get('firstname').errors.required">firstname is required!</div>
                <div *ngIf="formRegister.get('firstname').errors">firstname is invalid!</div>
              </div>
            </div>
            <div class="col form-group">
              <input type="text" class="form-control" formControlName="lastname"
                [ngClass]="{'is-invalid': formRegister.get('lastname').touched && formRegister.get('lastname').invalid}"
                placeholder="Lastname">
              <div *ngIf="formRegister.get('lastname').touched && formRegister.get('lastname').invalid"
                class="invalid-feedback">
                <div *ngIf="formRegister.get('lastname').errors.required">lastname is required!</div>
                <div *ngIf="formRegister.get('lastname').errors">lastname is invalid!</div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-5 mx-3 mb-2">
              <label>Role</label>
              <div class="custom-control custom-radio">
                &nbsp;&nbsp;
                <input type="radio" class="custom-control-input" id="defaultChecked" formControlName="userrole"
                  value="student">
                <label class="custom-control-label" for="defaultChecked">Student</label>
              </div>
              <div class="custom-control custom-radio">
                &nbsp;&nbsp;
                <input type="radio" class="custom-control-input" id="defaultUnchecked" formControlName="userrole"
                  value="instructor">
                <label class="custom-control-label" for="defaultUnchecked">Instructor</label>
              </div>
            </div>
            <div class="col-6 form-group">
              <label>Phone number</label>
              <input type="text" class="form-control" formControlName="tel"
                [ngClass]="{'is-invalid': formRegister.get('tel').touched && formRegister.get('tel').invalid}"
                placeholder="Phone number">
              <div *ngIf="formRegister.get('tel').touched && formRegister.get('tel').invalid" class="invalid-feedback">
                <div *ngIf="formRegister.get('tel').errors.required">tel is required!</div>
                <div *ngIf="formRegister.get('tel').errors">tel is invalid!</div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col form-group">
              <label>Email</label>
              <input type="email" class="form-control" formControlName="email"
                [ngClass]="{'is-invalid': formRegister.get('email').touched && formRegister.get('email').invalid}"
                placeholder="Your Email">
              <div *ngIf="formRegister.get('email').touched && formRegister.get('email').invalid"
                class="invalid-feedback">
                <div *ngIf="formRegister.get('email').errors.required">email is required!</div>
                <div *ngIf="formRegister.get('email').errors.email">email is invalid!</div>
              </div>
            </div>
            <!-- <div class="col form-group">
              <label>Phone number</label>
              <input type="text" class="form-control" formControlName="tel"
                [ngClass]="{'is-invalid': formRegister.get('tel').touched && formRegister.get('tel').invalid}"
                placeholder="Phone number">
              <div *ngIf="formRegister.get('tel').touched && formRegister.get('tel').invalid" class="invalid-feedback">
                <div *ngIf="formRegister.get('tel').errors.required">tel is required!</div>
                <div *ngIf="formRegister.get('tel').errors">tel is invalid!</div>
              </div>
            </div> -->
          </div>
          <div class="row">

            <div class="col form-group">
              <label>Password</label>
              <input type="password" class="form-control" formControlName="password"
                [ngClass]="{'is-invalid': formRegister.get('password').touched && formRegister.get('password').invalid}"
                placeholder="Password">
              <div *ngIf="formRegister.get('password').touched && formRegister.get('password').invalid"
                class="invalid-feedback">
                <div *ngIf="formRegister.get('password').errors.required">password is required!</div>
                <div *ngIf="formRegister.get('password').errors">password is invalid!</div>
              </div>
            </div>
            <div class="col form-group">
              <label>Confirm Password</label>
              <input type="password" class="form-control" formControlName="cfpassword"
                [ngClass]="{'is-invalid': formRegister.get('cfpassword').touched && formRegister.get('cfpassword').invalid}"
                placeholder="Confirm Password">
              <div *ngIf="formRegister.get('cfpassword').touched && formRegister.get('cfpassword').invalid"
                class="invalid-feedback">
                <div *ngIf="formRegister.get('cfpassword').errors.required">comfirmpassword is required!</div>
                <div *ngIf="formRegister.get('cfpassword').errors">comfirmpassword is invalid!</div>
              </div>
            </div>
          </div>
          <!-- <div class="form-check">
            <input type="checkbox" class="form-check-input" id="Check1">
            <label class="form-check-label" for="Check1">Check me out</label>
          </div> -->
          <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" [disabled]="!formRegister.valid"
          (click)="submitForm()"><b>Submit</b></button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
      <!-- <code>
          {{formRegister.value | json}}
         </code> -->
    </div>
  </div>
</div>