<div class="modal fade" tabindex="-1" role="dialog" id="Modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="color: #4B7AD1"><b>Login</b></h5>
      </div>
      <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="form.valid && onSubmit()" th:action="@{/j_spring_security_check}"
          method='POST'>
          <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" id="email" formControlName="email"
              [ngClass]="{'is-invalid': form.get('email').touched && form.get('email').invalid}" placeholder="Email">
            <div *ngIf="form.get('email').touched && form.get('email').invalid" class="invalid-feedback">
              <div *ngIf="form.get('email').errors.required">Email is required!</div>
              <div *ngIf="form.get('email').errors.email">Email is invalid!</div>
            </div>
          </div>
          <div class="form-group">
            <label for="InputPassword">Password</label>
            <input type="password" class="form-control" id="loginPassword" formControlName="loginPassword"
              [ngClass]="{'is-invalid': form.get('loginPassword').touched && form.get('loginPassword').invalid}"
              placeholder="Password">
            <div *ngIf="form.get('loginPassword').touched && form.get('loginPassword').invalid"
              class="invalid-feedback">
              <div *ngIf="form.get('loginPassword').errors.required">Password is required!</div>
              <div *ngIf="form.get('loginPassword').errors.minlength">Password must be atleast 4 characters!</div>
            </div>
          </div>

          <div class="modal-footer">
            <div class="row">
              <div class="col-12" style="text-align: right">
                <button type="button" class="btn btn-primary" [disabled]="!form.valid" (click)="submitForm()"
                  data-dismiss="modal"><b>Login</b></button>&nbsp;
                <button type="button" class="btn btn-primary" data-toggle="modal" data-backdrop="static"
                  data-target="#regisModal" data-dismiss="modal"><b>Register</b></button>
              </div>
              <div class="col py-3" style="text-align: right">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </form>
      </div>


      <!-- <code>
          {{form.value | json}}
         </code> -->

    </div>
  </div>
</div>