<router-outlet></router-outlet>
<!-- <app-self-summary></app-self-summary> -->
<!-- <app-show-user-in-group></app-show-user-in-group> -->
<!-- <app-add-user-group></app-add-user-group> -->
<!-- <app-top></app-top> -->
<!-- <app-add-workshop></app-add-workshop> -->
<!-- <app-profile></app-profile> -->
<!-- <app-manage-workshop></app-manage-workshop> -->
<!-- <app-add-metric></app-add-metric> -->