<div id="full">
  <div class="container">
    <div class="row justify-content-center">


      <div class="col-lg-6 text-center" *ngFor="let user of users" id="outside">
        <app-review-friends [user]="user" class="col-sm-12 col-md-6 col-lg-6"></app-review-friends>
      </div>

      <div class="col-12 text-center" style="padding: 120px 0 40px 0 ">
        <button data-toggle="modal" data-target="#exampleModal" class="btn btn-primary" id="submit">Finish</button>
      </div>


    </div>
  </div>


  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Wait !!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <b>กรุณารอเพื่อนในกลุ่มรีวิวให้ครบก่อน แล้วค่อยกด Confirm !!!</b>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" id="exampleModal" [routerLink]="['/result']" class="btn btn-primary"
            data-dismiss="modal">Confirm</button>
        </div>


      </div>
    </div>
  </div>

</div>