#full{
    background: linear-gradient(#3B5A96, #8FB1F2);
    height: auto;
    max-height: auto;
    min-height: 100vh;
    
}

button#submit {
    width: 180px;
    height: 40px;
    border-radius: 70px;
    /* background: #4b7ad1; */
    box-shadow: 0px 12px 14px rgba(0, 0, 0, 0.16);
    /* background-color: #4B7AD1; */
  }