<div id="full">
  <div class="container">
    <div class="row justify-content-center">


      <div class="col-lg-12 text-center py-3">
        <h3 style="color: white">Oscore</h3>
      </div>
      <div class="col-lg-6 col-md-8 col-10 py-3 mb-3" id="features">
        <div class="row justify-content-center">

          <div class="col-5 px-2 pb-2 text-center" *ngFor="let workshopGroup of workshopGroups">
            <label data-toggle="modal" data-target="#exampleModal"><b>Group
                {{workshopGroup.groupNumber}}</b></label><br>
            <input type="image" src="assets/teamwork.svg" (click)="addUserGroup(workshopGroup)" data-toggle="modal"
              data-target="#exampleModal" style="height: 120px">


            <!-- ----------------------------------------------------------------------------------------------- -->


            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">

                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Group add confirm</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Are you sure you want to join <label><b>group {{this.groupNumber}} ?</b></label>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="exampleModal" (click)="[addGroup(),addGrouptoService()]"
                      class="btn btn-primary" data-dismiss="modal">Join</button>
                  </div>


                </div>
              </div>
            </div>


          </div>
          <!-- ----------------------------------------------------------------------------------------- -->

        </div>
      </div>


    </div>
  </div>
</div>




















<!-- 

<div id="full">
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-lg-12 text-center py-3">
        <h3 style="color: white">Oscore</h3>
      </div>

      <div class="col-lg-6 col-md-8 col-10 py-3" id="features">
        <div class="row justify-content-center">

          <div class="col-5 px-2 pb-2 text-center" *ngFor="let workshopGroup of workshopGroups">
            <label (click)="[addUserGroup(workshopGroup), addGrouptoService(workshopGroup)]"><b>Group
                {{workshopGroup.groupNumber}}</b></label><br>
            <input type="image" src="assets/teamwork.svg"
              (click)="[addUserGroup(workshopGroup), addGrouptoService(workshopGroup)]" style="height: 120px">
           
          </div>


          <div class="col-12 pt-4 text-center">
            <button [routerLink]="['/leaveorreview']" type="submit" id="submit" class="btn btn-primary">
              <small>Next</small>
            </button>
          </div>

        </div>
      </div>

    </div>
  </div>
</div> -->